
header {
  background: #ffffff;
  font-family: 'Georgia', Times, Times New Roman, serif;
  border-bottom: 3px solid #cccccc;
  margin:0px auto;
}
.body {font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;}
#header-container {
    width: 960px;
    height: 110px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 0px 0px;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


.cont2 {
    width: 960px;
    margin: auto;
    text-align: center;
    vertical-align: left;
    background-color:#ffffff;
    margin: auto;
    
}

#main-body {
  color: #777777;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 650px;
    margin: 38px auto;
    display: flex;
    justify-content: space-between;
}

#content {
  	width: 650px;
  	box-sizing: inherit;
  	float: left;
   	background-color: #ffffff;
   	border-color: #dddddd;
   	border-style: solid;
    text-align: justify;
    padding: 10px 20px 10px 25px;
    margin-bottom: 20px
}

#right-content{
  	width: 270px;
  	box-sizing: inherit;
  	overflow: auto;
  	float: left;
    position: absolute right;
   	background-color: #ffffff;
   	border-color: #dddddd;
   	border-style: solid;
   	padding: 10px 10px 10px 30px;
    margin-left: 40px

}

#section_grey_line {
    background: #dddddd;
    height: 3px;
    margin: 30px 0 20px 0;
}
#img-content{
	float: left;
	overflow:hidden;
}
#head-logo {
	  background-color: lightblue;
    border-left: 10px solid pink;
    width: 225px;
    height: 100px;
    color: gray;
    text-align: center;
    padding-top: 10px;
}
#head-logo:hover {
  background-color: pink;
  color: #ffffff;
  font-weight: bolder;
}

nav {
  width: 300px;
  float: right;
  text-align: center;

}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 25px;
}

li {
  float: right;
  width: auto;
  padding: 10px;
}

li.border {
  border-right: 1px solid #dddddd;
  padding: 10px;
}

a{
  color: #777777;
  text-decoration: none;
}

/* Nav links turn teal on hover. */
a:hover {
  color: #4aaaa5;
}
/* selectors for nav content */
nav {
  height: 20px;
}

.nav_link {
  background: white;
  height: 100%;
  padding: 0px;
  transition: all 0.2s linear;
}

.nav_link:hover {
  background: #efefef;
}

.nav_vertical_bar {
  background: #efefef;
  width: 1px; 
  height: 100%;
}




  .cont2 {
    width: 960px;
    margin: auto;
    text-align: center;
    vertical-align: left;
    background-color:#ffffff;
    margin: auto;

    
}

#contact-form {
  padding: 20px;
  height: 500px;
}
input,
textarea {
  width: 100%;
  padding: 10px 20px 10px 10px;
  margin: 8px 0;
  border-color: #dddddd;
  border-style: solid;
  border-width: thin;
}

/* Need to use a pseudoclass to control placeholder. */
input,
textarea,
input::-webkit-input-placeholder {
    font-size: 16px;
}


#contact-form,
#portfolio {
  position: relative;
  text-align: left;
  width: 500px;
  top: 30px;
  margin-left: 20px;
  margin-bottom: 50px;
}
.project {
  float:left;
  position: relative;
  top:  -10px;
  width: 100%;
  
}

.project-title {
  float: left;
  position: relative;
  top: -50px;
  width: 100%;
  height: 30px;
  background-color: lightblue;
  font-weight: bolder;
  color: #ffffff;
  text-align: center;
}
.box {
  display: inline-block;
  width: 160px;
  height: 240px;
  margin: 20px;
}


/* Rotates project in portfolio on hover. Just to make little fancier*/
.box:hover {
  transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
}
.push {
  height: 109px;
}

  footer {
            clear: both;
            width: 100%;
            height: 100px;
            top: auto;
        	  right: 0;
        	  bottom: 0;
        	  left: 0;
/*            position: fixed;         
*/            text-align: center;
            font-size: 1.6em;
            border-radius: 10px;
            background-color: pink;
            border-top: 10px solid lightblue;
        }
        footer:hover {
  background-color: lightblue;
  color: #ffffff;
  font-weight: bolder;
}



/*browser size*/
@media screen and (max-width: 980px){
  #header-container{
    width: 95%;
    justify-content: space-between;
  }
  #content{
    width: 95%;
  }
  #right-content{
    width: 95%;
    margin-left: 0px;
    margin-bottom: 20px;
  }
  #head-logo{
    background-color: salmon;
    font: white;
    border-left: 10px solid crimson;
    width: 45%;
  }
  p{
    clear: both;
  }
  
}
/*tablet size*/
@media screen and (max-width: 768px) {
  #content{
    width: 650px;
  }
  #right-content{
    margin-bottom: auto;
    width: 650px;
    margin-left: 0px;
    margin-bottom: 20px;
  }
  #head-logo{
    background-color: antiquewhite;
    border-left: 10px solid lightblue;
    width: 45%;

  }
  #header-container, {
    width: 698px;
    justify-content: normal;
    display: inline-block;
  }
  aside{
    float: left;
    width: 698px;
  }
  p{
    clear: none;
  }
  
}
/*landscape phone size*/
@media screen and (max-width: 640px){

.main-body {
    margin-left: 10px;
    width: 578%;
}

#header-container, {
    width: 100%;
    justify-content: normal;
    display: contents;
  }


.box {
  width: 95%;
  height: 95%;
}
  #content{
    width: 578px;
  }
  #head-logo{
    width: 578px;
    text-align: center;
  }

  #right-content{
    width: 578px;
    margin-left: 0px;
    margin-bottom: -20px;
  }

  #cont2{
    width: 100%;
  }
  nav{
    clear: both;
    float: none;
    text-align: center;
    padding: 15px 0 15px 0;
  }
  a{
    width: 32%;
    text-align: center;
  }

 
  header{
    width: 578px;
  }
  footer{
    width: 578px;
  }
}


